body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Kanit;
    background-image: url(./Imagens/montanha_roxa.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px 5px rebeccapurple;
}

hr{
    width: 100%;
}

form{
    display: flex;
    flex-flow: column wrap;
}

/*Tela geral*/
#tela-cadastro {
    display: flex;
    flex-flow: column wrap;
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(173, 216, 230, 0.6), rgba(102, 51, 153, 0.6), rgba(255, 182, 193, 0.6));
    width: auto;
}

#titulo-cadastro {
    animation: flutuando 2s ease-in-out alternate infinite;
    text-align: center;
}

@keyframes flutuando {
    to {
        transform: translateY(5px);
    }
}

.lbl {
    font-size: 20px;
    margin: 5px;
    font-weight: bold;

}

.inp {
    width: 15em;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px auto;
    margin: 10px auto;
    background-color: beige;
}

.inp:focus {
    transition-duration: 0.3s;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(128, 0, 128, 0.6);
    font-weight: 300;
}

.fmtc-fundo {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.exterior {
    border-radius: 20px;
    width: auto;
    height: auto;
}

/*INFO PESSOAL*/
#info-pessoal {
    background: linear-gradient(to right bottom, rgba(173, 216, 230, 0.5), rgba(102, 51, 153, 0.5));
    border: 3px inset;
    border-top-color: rgba(173, 216, 230, 0.5);
    border-left-color: rgba(173, 216, 230, 0.5);
    border-right-color: rgba(102, 51, 153, 0.5);
    border-bottom-color: rgba(102, 51, 153, 0.5);
}

#inp-nascimento {
    width: fit-content;
}

#lista-genero {
    text-align: center;
    font-size: 16px;
    width: fit-content;
    height: 100%;
    border-radius: 5px;
}

/*INFO ENDEREÇO*/
#info-endereco {
    background: linear-gradient(to right bottom, rgba(173, 216, 230, 0.5), rgba(102, 51, 153, 0.5));
    border: 3px inset;
    border-top-color: rgba(173, 216, 230, 0.5);
    border-left-color: rgba(173, 216, 230, 0.5);
    border-right-color: rgba(102, 51, 153, 0.5);
    border-bottom-color: rgba(102, 51, 153, 0.5);
}

#inp-numero {
    width: 25%;
}

/*INFO ADICIONAL*/
#info-adicional{
    background: linear-gradient(to right bottom, rgba(102, 51, 153, 0.5), rgba(255, 182, 193, 0.5));
    border: 3px inset;
    border-top-color: rgba(102, 51, 153, 0.5);
    border-left-color: rgba(102, 51, 153, 0.5);
    border-right-color: rgba(255, 182, 193, 0.5);
    border-bottom-color: rgba(255, 182, 193, 0.5);
}

#info-adicional,
#lbl-obs {
    text-align: center;
    
}

#inp-obs {
    border-radius: 10px;
    font-size: 14px;
    min-width: 40%;
    width: 80%;
    max-width: 90%;
    min-height: 2.5em;
    height: 5em;
    max-height: 7.5em;
}

#max-caract {
    color: black;
}

/*NOVO USUÁRIO*/
#novo-usuario {
    text-align: center;
    width: fit-content;
    background: linear-gradient(to right bottom, rgba(102, 51, 153, 0.5), rgba(255, 182, 193, 0.5));
    border: 3px inset;
    border-top-color: rgba(102, 51, 153, 0.5);
    border-left-color: rgba(102, 51, 153, 0.5);
    border-right-color: rgba(255, 182, 193, 0.5);
    border-bottom-color: rgba(255, 182, 193, 0.5);
}

/*BOTÃO FINALIZAR CADASTRO*/
#btn-cadastrar, #btn-logar{
    display: grid;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 10em;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    background: linear-gradient(to bottom, white, grey);
}

/*LOGAR*/
#logar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}