body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: Kanit;
}

fieldset{
    border: 2px solid black;
    border-radius: 20px;
}

legend{
    text-align: center;
    font-weight: bold;
}

/*Tela geral*/
#tela-cadastro{
    display: flex;
    flex-flow: column wrap;
    padding: 1.5em;
    border: 2px solid black;
    border-radius: 20px;
    background: linear-gradient(to right bottom, rgba(173, 216, 230, 0.8), rgba(128, 0, 128, 0.3), rgba(173, 216, 230, 0.8));
}

#titulo-cadastro{
    text-align: center;
}

.lbl{
    font-size: 20px;
    margin: 5px;
    font-weight: bold;

}

.inp{
    width: 15em;
    font-size:16px;
    border-radius: 5px;
    margin: 5px auto;
    margin: 10px auto;
}

.inp:focus{
    transition: 0.3s;
    box-shadow: 3px 3px 5px darkslategray;
}

/*INFO PESSOAL*/
#info-pessoal{
    margin: 0 auto;
}

#inp-nascimento{
    width: fit-content;
}

#lista-genero{
    text-align: center;
    font-size: 16px;
    width: fit-content;
    height: 100%;
    border-radius: 5px;
}

/*INFO ENDEREÇO*/
#info-endereco{
    
}

/*INFO ADICIONAL*/
#info-adicional{
    text-align: center;
}

#lbl-obs{
    text-align: center;
}
#inp-obs{
    font-size: 20px;
    min-width: 25%;
    width: 50%;
    max-width: 75%;
    min-height: 5em;
    height: 10em;
    max-height: 12em;
}

#max-caract{
    color: grey;
}

/*NOVO USUÁRIO*/
#novo-usuario{
    text-align: center;
}